html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #333333;
}
root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1;
  overflow: auto;
  background: #222222;
  padding: 10px;
}
header,
footer {
  background: #333333;
  padding: 10px;
}

.track {
  text-align: left;
  font-family: "retron";
  padding: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #444444;
  width: 100vf;
  border-radius: 25px;
}



button {
  border-radius: 16px;
  background-color: #9339f9;
  padding: 8px 16px;
  border: 0;
  color: #fff;
  font-size: 16px;
  transition: background-color 200ms ease;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

button + button {
  margin-left: 8px;
}

button:hover,
button:focus,
button.active {
  background-color: #f353d0;
}
