.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.track {
  text-align: center;
  font-family: "retron";
  padding: 32px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
  background-color: #444444;
  max-width: 300px;
}

.output {
  text-align: left;
  font-size: 10px;
}

.separator {
  margin: 16px 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #f353d0;
}

.custom-waves {
  width: 100%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  border: 1px solid #1f1f1f;
  background: #0f0f0f;
  float: left;
}
